<script>
  let currentdate = new Date(); console.log(currentdate);
</script>

<ul>
  <form class="flex justify-between" action="/todos/add">
    <input class="border rounded" type="text" placeholder="New todo.." />
    <button class="bg-green-400 px-3 py-2 rounded" type="submit">Add</button>
  </form>
  <div class="flex justify-between">
    <p>Sort by</p>
    <select name="" id="">
      <option value="">Newest added</option>
      <option value="">Oldest added</option>
    </select>
  </div>
  {{#each todos}}
    <li class="flex justify-between border rounded mb-2 p-2">

      <a href="/todo/{{id}}">{{description}}</a>
      <a href="todos/{{id}}/edit">Edit</a>
    </li>
  {{/each}}
</ul>