<!-- Tabs -->
<ul id="tabs" class="inline-flex justify-center w-full px-1 pt-2">
  <li class="px-4 py-2 font-semibold rounded-t opacity-50"><a
      id="default-tab"
      href="/"
    >All</a></li>
  <li
    class="px-4 py-2 -mb-px font-semibold border-b-2 border-blue-400 rounded-t opacity-100"
  ><a href="/incompleted">Incompleted</a></li>
  <li class="px-4 py-2 font-semibold rounded-t opacity-50"><a
      href="/completed"
    >Completed</a></li>
</ul>
<div class="my-2 pr-2 rounded-lg text-sm">
  <div class="flex justify-between items-center py-2">
    <div>
      <a
        class="bg-emerald-500 text-white px-3 py-2 rounded w-full"
        href="/newTodo"
      >Add new todo</a>
    </div>
    <div class="flex space-x-1 justify-around text-gray-700">
      <p>Sort by:</p>
      <a class="underline text-gray-900" href="/asc">Oldest</a>
      <p>or</p>
      <a class="underline text-gray-900" href="/desc">Newest</a>
    </div>
  </div>
</div>
<ul>
  {{#each todos}}
    {{#if done}}{{else}}
      <li class="flex justify-between bg-rose-100 rounded mb-2 p-2">
        <a href="/{{_id}}/edit">{{description}}</a>
      </li>
    {{/if}}
  {{/each}}
</ul>