@font-face {
  font-family: "Inter";
  src: url("Inter.woff");
}

html {
  /* font-family: "Inter", "Bitstream Vera Serif", serif !important; */
}
.true {
  text-decoration: line-through;
}

button {
  cursor: pointer;
}

input[type="button"] {
  cursor: pointer;
}
